/* Внешний вид*/
body {
	background-color: #f8f8f8
}

.mainmenu {
	/*color: red;*/
	font-size: 18px;
	font-style: bold;
	list-style-type: none;
	font-family: arial;

}

.mainmenu li a:hover{
	color: #0ED433;
}

.nounderline{
	text-decoration: none;

}

.hshortterms,
.hcharact,
.hfullterms,
.hadress {
	color: black;
	font-size: 18px;
	font-weight: 400px;
	background-color: #eaeaea
}

.shortterms {
	color: #707070;
	font-size: 16px;
	font-style: italic;
	line-height: 16px;
}


.charact {
	border: 1px solid #000;
	border-collapse: collapse;
}

.catalog > td:hover {
	border: none;
}

td {
	padding: 3px;
	border: 1px solid #6A3E14;
}

td:first-of-type{
	font-style: bold;
	/*background: #CFD6D3;*/
}

.charact > tr > td {
	font-style: bold;
}


.fullterms {
	color: #484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	width: 80%;
}

.fullterms > p:first-letter,
.shortterms:first-letter {
	font-size: 20px;
	color: red;
}

.imgflower {
	width: 200;
	margin: 20px auto;
	vspace: 10px;

}

.contactsform{
	width: 1000px;
}

.submitbuttn {
	margin-top: 5px;
}

input {
	padding: 5px;
	margin-top: 5px;
	
}

.email:focus {
	background-color: #FFFFBB;
	color: #FF41FF;
}

input {
	text-transform: capitalize;
}

.subject{
	font-style: italic bold;
	font-size: 120%;
	color: green;
}